body {
	background-color: snow;
	font-family: Garamond, monospace;
	color: dimgrey;
	text-align: center;
	padding: 15%;
	padding-top: 0%;
	padding-bottom: 0%;

}

h1 {
	color: snow;
	background-color: cadetblue;
	font-size: 32px;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

p {
	font-size: 16px;
	text-align: left;
}

#listLeft {
	text-align: left;
}

.lagoTramonto {
	height: 256px;
	width: 384px;
}
